# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jbszgmhdmwpynnoxlzpp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_JA9QQlq2YRVUO--K1VTxfw_kTId2dji

# Supabase Service Role Key (server-side only, NEVER expose to client)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impic3pnbWhkbXdweW5ub3hsenBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTQyMDMxNCwiZXhwIjoyMTAwOTk2MzE0fQ.BmjWiiGSJ9UcxtFs1ER_qi6NKH4OD2oIJQ9z9cBTb2k

# Storage bucket
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=product-photos
